# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
build/
dist/
*.egg-info/

# Virtual environments
venv/
.env
.venv/

# OS files
.DS_Store
Thumbs.db

# Editor files
.vscode/
.idea/

# Archives
*.zip
